body {
    margin: 0;
    padding: 0;
    background-image: url('triangles-1430105_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 60px;
}

#pokemonName {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    width: 300px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#imageContainer {
    display: none;
}

#pokemonSprite {
    max-width: 500px;
    margin-top: 20px;

    width: 200px;
    height: 200px;
    display: "block";
}

#infoContainer p {
    align-items: center;
    color: white;
    font-size: 30px;
}